<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xu.road2nb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinds.MyOnNewIntentActivity"
            android:label="MyOnNewIntentActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="com.xu.onNewIntent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinds.MyResultActivity"
            android:label="MyOnNewIntentActivity" >
            <intent-filter>
                <action android:name="com.xu.startActivityForResult" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinds.fragment.MyMainFragmentsActivity"
            android:label="MyFragmentsActivity" >
            <intent-filter>
                <action android:name="com.xu.Fragment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinds.fragment.FragMentActivity"
            android:label="FragMentActivity" >
            <intent-filter>
                <action android:name="com.xu.Fragment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinds.MyAidlActivity"
            android:label="MyAidlActivity" >
            <intent-filter>
                <action android:name="com.xu.AIDL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinds.MyJniActivity"
            android:label="MyJniActivity" >
            <intent-filter>
                <action android:name="com.xu.Jni" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kinds.MyHistogramViewActivity"
            android:label="MyHistogramViewActivity" >
            <intent-filter>
                <action android:name="com.xu.Histogram" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="kinds.MyRoundProgressBarActivity"
            android:label="MyHistogramViewActivity" >
            <intent-filter>
                <action android:name="com.xu.RoundProgressBar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="kinds.MyHandlerActivity"
            android:label="MyHandlerActivity" 
            >
            <intent-filter>
                <action android:name="com.xu.Handler" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="kinds.MyWebViewActivity"
            android:label="MyWebViewActivity" 
            >
            <intent-filter>
                <action android:name="com.xu.WebView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <service android:name="services.MyCalcAidlService"
            	 android:process=":remote">
            <intent-filter >
                <action android:name="services.calc"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>